[submodule "assets/js/jquery.fancybox"]
	path = assets/js/jquery.fancybox
	url = git://github.com/fancyapps/fancyBox.git
[submodule "assets/js/spin.js"]
	path = assets/js/spin.js
	url = git://github.com/fgnass/spin.js.git 
[submodule "application/third_party/php-foursquare"]
	path = application/third_party/php-foursquare
	url = git://github.com/stephenyoung/php-foursquare.git
[submodule "application/third_party/bootstrap"]
	path = application/third_party/bootstrap
	url = git://github.com/twitter/bootstrap.git
