<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/Bootstrap.php" colors="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" stopOnError="false" stopOnFailure="false" stopOnIncomplete="false" stopOnSkipped="false">
	<php>
		<const name="DB_DRIVER" value="mysql"/>
	</php>
	<testsuites>
		<testsuite name="All Tests">
			<directory suffix="Test.php">./tests/</directory>
		</testsuite>
	</testsuites>
	<filters>
		<blacklist>
			<directory suffix=".php">PEAR_INSTALL_DIR</directory>
			<directory suffix=".php">PHP_LIBDIR</directory>
		</blacklist>
	</filters>
</phpunit>
