/* Override some defaults */
html, body {
}

body {
  padding-top: 40px;
  padding-bottom: 40px;
}

/* Top bar image */
.navbar a.brand img { height: 16px; vertical-align: middle; width: 16px; }

/* Footer */
.container > footer p {
	text-align: center; /* center align it with the container */
}

/* Extra table format */
table.table-stats th, table.table-stats td { width: 25%; border: 0 }
table.table-stats th { text-align: right; }

/* Footer */
footer {
	margin-top: 17px;
	margin-bottom: 2em; 
}

/* Miscellaneous Tweaks */
.meows { top: 40px; }

/* Profiler */
#codeigniter_profiler legend { padding-left: 0.5em }
#codeigniter_profiler code { line-height: 2em; }

/* Spinner */
.spinner { display: inline-block; width: 10px; height: 10px; }

/* Media Queries for Mobile */
@media (max-width: 980px) { 
	body { padding-top: 0; }
	.navbar-fixed-top { margin-bottom: 0; }
	.hero-unit { background-color: transparent; padding: 0; -webkit-border-radius: 0; border-radius:0; }
}